body,html {
    height: 100%;
}

.bg-image {
    /* position: absolute; */
    /* background-color: black; */
    background-image: url('/static/minecraft_bg.jpeg');
    height: 100vh;
}

.surprise-alert {
    position: fixed;
    display: block;
}

#starting-progress-bar {
    width: 0%;
    display: none;
}